<html>
  <head>
    <title>View Feedback</title>
  </head>
  <body>
    <iframe src="https://giphy.com/embed/P7HZktOGMytEI" width="378" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-funny-animals-little-P7HZktOGMytEI">via GIPHY</a></p>
          <p>Please <a href="/feedback">click here</a> to give us your feedback.</p>
          <p>To return to the home page, <a href="/">click here</a> </p>
  </body>
</html>

<html>
  <body>
        <p>To return to the home page, <a href="/">click here</a> </p>
  </body>
</html>


