<html>
  <head>
    <title>View Feedback</title>
  </head>
  <body style="background-color:powderblue;">
    <iframe src="https://giphy.com/embed/P7HZktOGMytEI"  title="View Feedback" width="378" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-funny-animals-little-P7HZktOGMytEI">via GIPHY</a></p>
          <h4>Please <a href="/feedback">click here</a> to give us your feedback.</h4>
          <h4>To return to the home page, <a href="/">click here</a> </h4>
  </body>
</html>

<html>
  <body>
    <h1 style="font-size:300%;">Here's what folks are saying:</h1>

  </body>
</html>

<html><body><h3>Jane Doe</h3><p>This is the best site on the internet!</p></body></html>
<html><body><h3>John Doe</h3><p>My wife really loves this site!</p></body></html>


